---
import Scene from '@components/r3f/Scene/Scene';
import { scenes } from '@lib/useScene';

export function getStaticPaths() {
  return Object.keys(scenes).map((key: string) => (
		{ params: { scene: key } }
	));
};

const { scene } = Astro.params as { scene: string };
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Scene scene={ scene } client:load />
	</body>
</html>