---
import Scene from '@components/r3f/Scene/Scene';
export function getStaticPaths() {
  return [
    {params: {scene: 'default'}},
    {params: {scene: 'night'}},
  ];
};

const { scene } = Astro.params;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Scene scene={ scene } client:load />
	</body>
</html>